.BrowserControlBar__container {
  height: 25px;
  display: flex;
  flex-direction: row;
}

.BrowserControlBar__controls {
  display: flex;
  flex-direction: row;
  width: 30%;
  justify-content: space-around;
}

.BrowserControlBar__container .MuiInput-root {
  margin-top: 0 !important;
}

.BrowserControlBar_url-input {
  flex-grow: 1;
}

.BrowserControlBar_url-input input {
  font-size: 14px;
}
