#TopBar__container {
  display: flex;
  height: 30px;
  background-color: #e6eaf7;
  flex-grow: 1;
  color: rgb(32, 29, 29);
  position: fixed;
  width: 100%;
  z-index: 1000;
}

#TopBar__addBoard {
  width: 50px;
  justify-content: center;
  display: flex;
  align-items: center;
}

.TopBar__tab {
  display: flex;
  border-right: 1px solid rgb(32, 29, 29);
  padding-left: 5px;
  padding-right: 5px;
  align-items: center;
  font-size: 14px;
}

.TopBar__tab input {
  color: black;
  background-color: white;
}

.TopBar__tab .MuiInput-root {
  margin-top: 0 !important;
}
