#TopBar__container {
    display: flex;
    height: 30px;
    background-color: blue;
    flex-grow: 1;
}

#TopBar__addBoard {
    width: 50px;
    text-align: center;
}

.TopBar__tab {
    display: flex;
    border-left: 1px solid black;
    padding-left: 5px;
    padding-right: 5px;
}