.Board__container {
  display: flex;
  height: 100vh;
  width: 100%;
  top: 30px;
  position: absolute;
}

.Board__browserFavContainer {
  position: fixed;
  top: 70px;
  display: flex;
  flex-direction: column;
  width: 50px;
  align-items: center;
  z-index: 10;
}

.Board__browserFav {
  margin-bottom: 10px;
}
