.BrowserTopBar__container {
  background-color: white;
  height: 25px;
  display: flex;
  flex-direction: row;
  padding-left: 10px;
  padding-right: 10px;
}

.BrowserTopBar__title {
  display: flex;
  flex-grow: 1;
  color: rgb(32, 29, 29);
  align-items: center;
  font-size: 14px;
}

.BrowserTopBar__controls {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}

.BrowserTopBar__control-button {
  color: rgb(32, 29, 29);
  margin-right: 5px;
}

.BrowserTopBar__control-button svg {
  height: 18px;
}

.BrowserTopBar__control-button svg:hover {
  height: 20px;
}

.BrowserTopBar__favicon {
  margin-right: 5px;
  margin-top: 4px;
}
