.BrowserTopBar__container {
  background-color: black;
  height: 25px;
  display: flex;
  flex-direction: row;
  padding-left: 10px;
  padding-right: 10px;
}

.BrowserTopBar__title {
  display: flex;
  flex-grow: 1;
  color: white;
  align-items: center;
}

.BrowserTopBar__controls {
  display: flex;
  flex-direction: row-reverse;
}

.BrowserTopBar__control-button {
  color: white;
  margin-right: 5px;
}
