#Library__container {
  z-index: 2000;
  height: 300px;
  width: 300px;
  background-color: white;
  border-radius: 5px;
  border: 1px solid #d7d7d7;
  display: flex;
  padding: 20px;
}

#Library__close-icon {
  position: absolute;
  padding: 10px;
  right: 0;
  top: 0;
}

#Library__close-icon svg {
  height: 16px;
  width: 16px;
}

#Library__title {
  font-size: 18px;
  font-weight: bold;
}
