name: PR check

on: [pull_request]

jobs:
  publish:
    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        os: [macos-latest, windows-latest, ubuntu-latest]

    steps:
      - name: Checkout git repo
        uses: actions/checkout@v1

      - name: Install Node and NPM
        uses: actions/setup-node@v1
        with:
          node-version: 16
          cache: npm

      - name: Install dependencies
        run: |
          npm install

      - name: Compile
        run:
          npm run build

      - if: matrix.os == 'ubuntu-latest'
        name: Ubuntu release
        uses: actions/upload-artifact@v3
        with:
          - name: Linux AppImage
            path: release/build/BonBon-*-.AppImage

        - if: matrix.os == 'macos-latest'
          name: MacOS release
          uses: actions/upload-artifact@v3
          with:
            - name: Linux AppImage
              path: release/build/

        - if: matrix.os == 'windows-latest'
          name: MacOS release
          uses: actions/upload-artifact@v3
          with:
            - name: Linux AppImage
              path: release/build/BonBon-*.exe