name: Check types

on: [push, pull_request]

jobs:
  typecheck:
    name: Check types
    runs-on: ubuntu-latest

    steps:
      - name: Check types
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          npm exec tsc
